<mat-card>
  <mat-card-title class="mb-3">
    Analyze single repository
  </mat-card-title>
  <mat-card-content>
    <form>
      <div class="row">
        <mat-form-field class="col-8">
          <mat-label>Repository url</mat-label>
          <input [(ngModel)]="singleRepositoryService.request.repositoryUrl" name="repositoryUrl" matInput>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="singleRepositoryService.request.isPrivate" name="isRepositoryPrivate"
                      class="col-1" color="primary">Private
        </mat-checkbox>
        <div class="col-1"></div>
        <div class="col-2">
          <a mat-button [disabled]="isSearchDisabled()"
             [ngClass]="isSearchDisabled() ? 'bg-light btn-analyze-disabled' : 'bg-info btn-analyze-enabled'"
             (click)="!isSearchDisabled() && singleRepositoryService.analyze()">
            Analyze
          </a>
        </div>
      </div>
      <div *ngIf="singleRepositoryService.request.isPrivate"
           [@expandCollapse]='singleRepositoryService.request.isPrivate'
           class="row">
        <mat-form-field class="col-8">
          <mat-label>Access token to private repository</mat-label>
          <input [(ngModel)]="singleRepositoryService.request.accessToken" name="accessToken" matInput>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
