<mat-expansion-panel *ngIf="visible" [@fadeIn]
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Modification chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Number of lines of code added and deleted in a given time period</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>

  <!-- TODO: Draw modification diagram here -->
  <pre>{{toString(modificationResponse)}}</pre>

</mat-expansion-panel>
