<mat-expansion-panel *ngIf="visible" [@fadeIn]
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Development compare chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Comparison of number of commits by month at last year of development</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>
  <apx-chart *ngIf="chartOptions"
             [series]="chartOptions.series"
             [chart]="chartOptions.chart"
             [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</mat-expansion-panel>
