<mat-expansion-panel *ngIf="visible" [@fadeIn]
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Distribution chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Time distribution of number of commits</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>
  <apx-chart *ngIf="chartOptionsMonth"
             [series]="chartOptionsMonth.series"
             [chart]="chartOptionsMonth.chart"
             [xaxis]="chartOptionsMonth.xaxis"
  ></apx-chart>
  <apx-chart *ngIf="chartOptionsDay"
             [series]="chartOptionsDay.series"
             [chart]="chartOptionsDay.chart"
             [xaxis]="chartOptionsDay.xaxis"
  ></apx-chart>
  <apx-chart *ngIf="chartOptionsPeriod"
             [series]="chartOptionsPeriod.series"
             [chart]="chartOptionsPeriod.chart"
             [xaxis]="chartOptionsPeriod.xaxis"
  ></apx-chart>
</mat-expansion-panel>
