<mat-expansion-panel *ngIf="visible"
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Distribution chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Time distribution of number of commits</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>

  <!-- TODO: Draw distribution diagram here -->
  <pre>{{toString(distributionResponse)}}</pre>

</mat-expansion-panel>
