<mat-expansion-panel *ngIf="visible" [@fadeIn]
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Developer compare chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Comparison of repositories' developers with highest number of commits</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>

  <!-- TODO: Draw developer compare diagram here -->
  <pre>
    <apx-chart
      [series]="chartOptionsMonth.series"
      [chart]="chartOptionsMonth.chart"
      [xaxis]="chartOptionsMonth.xaxis"
    ></apx-chart>
    {{toString(developerCompareResponse)}}
  </pre>

</mat-expansion-panel>
