<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Github Analyzer</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['single-repository']" class="nav-link" href="#">Single repository</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['double-repository']" class="nav-link" href="#">Compare two repository</a>
      </li>
    </ul>
  </div>
</nav>
