<mat-expansion-panel *ngIf="visible"
                     [expanded]="panelOpen" (toggle)="panelOpen = !panelOpen">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Contribution chart</h4>
    </mat-panel-title>
    <mat-panel-description>
      <h6>Developers contribution to repository</h6>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-spinner *ngIf="intervalId !== null"></mat-spinner>

  <!-- TODO: Draw contribution diagram here -->
  <pre>{{toString(contributionResponse)}}</pre>

</mat-expansion-panel>
